<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="personCtrl">
<head>
    <meta charset="utf-8">
    <title>AngularJS | Filters!</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body>

<div>
<!-- Uppercase -->
<p>The name is {{ lastName | uppercase }}</p>
<!-- lowercase -->
<p>The name is {{ lastName | lowercase }}</p>

</div>

<!-- orderBy -->
<div>
<ul>
  <li ng-repeat="x in names | orderBy:'country'">
    {{ x.name + ', ' + x.country }}
  </li>
</ul>

</div>


<!-- Currency -->
<div>
<h1>Price: {{ price | currency }}</h1>
</div>

<!-- filter -->
<div>

<ul>
  <li ng-repeat="y in namess | filter : 'i'">
    {{ y }}
  </li>
</ul>
<p>This example displays only the names containing the letter "i".</p>
</div>

<!-- Filter an array based on User Input -->
<div>

<p><input type="text" ng-model="test"></p>

<ul>
  <li ng-repeat="z in namess | filter : test">
    {{ z }}
  </li>
</ul>

</div>

<!-- Sort an Array Based on User input -->
<div>

<table border="1" width="100%">
  <tr>
    <th ng-click="orderByMe('name')">Name</th>
    <th ng-click="orderByMe('country')">Country</th>
  </tr>
  <tr ng-repeat="w in names | orderBy:myOrderBy">
    <td>{{w.name}}</td>
    <td>{{w.country}}</td>
  </tr>
</table>

</div>


<script>
var app = angular.module('myApp', []);
app.controller('personCtrl', function($scope) {
    $scope.firstName = "John",
    $scope.lastName = "Doe"
    $scope.names = [
        {name:'Jani',country:'Norway'},
        {name:'Carl',country:'Sweden'},
        {name:'Margareth',country:'England'},
        {name:'Hege',country:'Norway'},
        {name:'Joe',country:'Denmark'},
        {name:'Gustav',country:'Sweden'},
        {name:'Birgit',country:'Denmark'},
        {name:'Mary',country:'England'},
        {name:'Kai',country:'Norway'}
        ];
    $scope.namess = [
       'Jani',
       'Carl',
       'Margareth',
       'Hege',
       'Joe',
       'Gustav',
       'Birgit',
       'Mary',
       'Kai'
   ];
    $scope.price = 58;
});
</script>


</body>
</html>
